.titre {
    text-align: left;
    font-size: 50px;
    margin: 60px 0 60px 170px;
}
#photodeprofil, #photodemail {
    float: left;
    margin: 0 150px 0 150px;
    width: 400px;
    height: 500px;
}
.container {
    display: flex;
    align-items: center;
    width: 90%;
}
.text-container {
    display: flex;
    flex-direction: column;
    margin: 0 50 0 50px;
    justify-content: center;
    height: 500px;
    text-align: justify;
    line-height: 1.5;
}
hr {
    width: 100%;
    margin: 30px 0 30px 0;
}
header {
    background-color: #f2f2f2;
    padding: 40px;
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
li {
    margin: 0 20px 0 0;
}
a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}
body {
    margin: 0;
    padding: 0;
}