body {
    margin: 0;
    padding: 0;
    font-size: 1em;
    background-size: cover;
    background-color: red;
}

/* Début de la section Header */

header {
    background-color: white;
    width: 100%;
    height: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.name_container {
    display: flex;
    align-items: center;
    color: black;
    height: 4em;
    background-color: white;
}

#header_name {
    font-size: 1.8rem;
    font-weight: 700;
    margin-left: 2em;

}

nav {
    display: flex;
    align-items: center;
  }

ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
  }

li {
    margin: 0 2em 0 2em;
  }
  
ul li a {
    display: block;
    padding: 25px;
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 10%;
    font-weight: 900;
    font-size: 1.2em;
  }
  
ul li a:hover {
    color: green;
  }
  
 ul li a:focus {
    outline: none;
    background-color: white;
  }

/* Fin de la section Header */

#home {
    width: 100%;
    background-color: #f9f9f9;
    padding: 0;
    padding-top: 1px;
    height: 100vh;
    text-align: center;
}

/* Début de la section Contact*/

#contact {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#contact h1 {
    font-size: 3em;
    margin-top: 2em;
}

.contact {
        width: 50%;
        margin: auto;
        border: 1px solid black;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .contact label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
      }

      .contact input[type="text"],
      .contact input[type="email"],
      .contact textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
      }

      .contact textarea {
        overflow-y: auto;
        height: 200px;
        min-height: 200px;
        max-height: 200px;
      }

      .contact input[type="submit"] {
        display: block;
        margin: 0 auto;
        background-color: #4caf50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
      }

      .contact input[type="submit"]:hover {
        background-color: #45a049;
      }

/* Fin de la section Contact*/



/* Début de la section Footer */ 
footer {
    background-color: white;
    width: 100%;
    height: 6em;
    justify-content: center;
    align-items: center;
    display: flex;
}
/* Fin de la section Footer */