body {
  background: url('../img/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* Section des projets */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-size: var(--fs-h2);
  margin-top: 3.2em;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10em 0 11em 0;
}

.image img {
  max-width: 100%;
  max-height: 100%;
}

.code {
  height: 20em;
  width: 60%;
  border: 2px solid var(--clr-grey);
  background-color: var(--clr-white);
  overflow-y: scroll;
  white-space: pre-wrap;
  font-size: var(--fs-body);
  margin-bottom: 5em;
}

.box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  flex-basis: 25%;
  padding: 1rem;
  background-color: #eeeeee;
  border-radius: 5%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0 5vw 20vh 5vw;
  height: 30vh;
  width: 60vw;
}

.box h2 {
  font-size: var(--fs-h2);
  margin-bottom: 0.5rem;
}

.box p {
  font-size: var(--fs-body);
  margin-top: 1em;
  line-height: 1.5;
}

 /* Section responsive web design tablette */

 @media screen and (max-width: 1200px) {

  .box {
  flex-basis: 50%;
  height: 40vh;
  }
}

/* Section responsive web design mobile */

@media (max-width: 768px) {
  .box-container {
    flex-direction: column;
  }

  .code {
    width: 90%;
  }

  .image {
    max-width: 90%;
  }

.title {
  margin-top: 3.5em;
}

}