* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1em;
  margin-top: 6em;
}

/* Section Header */

header {
  background-color: #FFFFFF;
  height: 6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.name-container {
  display: flex;
  align-items: center;
  color: #000000;
  height: 4em;
  background-color: #FFFFFF;
}

header h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-left: 2em;
}

nav, ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

ul {
  justify-content: flex-end;
}

ul li {
  margin: 0 2em;
}

ul li a {
  display: block;
  padding: 1.3em;
  background-color: #FFFFFF;
  text-decoration: none;
  color: #000000;
  border-radius: 10%;
  font-weight: bolder;
  font-size: 1.2em;
  transition: color 0.3s;
}

ul li a:hover {
  color: #008000;
}

/* Section Accueil */

.principal-section {
  width: 100%;
  background-color: #f9f9f9;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.home {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 27em;
  max-width: 20em;
  min-width: 15em;
  margin: 0 0 0 7em;
}

#profilepicture {
  max-width: 100%;
  height: auto;
  border: 4px solid #000000;
}

hr {
  flex: 0 0 1px;
  height: 80%;
  margin: 0 8em 0 8em;
  background-color: #000000;
  border: 1px solid #000000;
}

.text-container {
  flex: 1;
  width: 80em;
  height: 50em;
  margin-right: 6em;
  text-align: justify;
}

.home-title {
  font-size: 1.8rem;
  margin-top: 6em;
}

.text-information {
  font-size: 1.2rem;
  line-height: 1.5;
  max-width: 100%;
  max-height: 100%;
  margin: 1.5em 8em 0 0;
}

.competence-list-container {
  justify-content: flex-start;
}

.competence-list-container li {
  background-color: #d3d3d3;
  padding: 1em;
  margin: 2em 1.5em 0em 0;
}

/* Section Projets */

.projects-section {
  height: 100vh;
  background-color: #f9f9f9;
  padding-top: 1px;
  text-align: center;
}

.projects-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 10em auto 0;
}

.projects-image {
  border: 4px solid #000000;
  transition: transform 0.5s ease;
  transform-style: preserve-3d;
  perspective: 62.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}

.imgprojet:hover {
  transform: rotateY(20deg); 
  transform: rotateX(20deg);
}

.projects-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  margin: 0.6em;
}

.projects-container img {
  max-width: 100%;
}

.projects-title {
  font-size: 3em;
  margin-top: 1.5em;
}

.projects-subtitle {
  margin-top: 0.6em;
  font-size: 2em;
  text-align: center;
}

/* Section Contact */

.contact-section {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
  
.contact {
  width: 50%;
  margin: auto;
  border: 1px solid #000000;
  padding: 1.25em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
.contact-section h1 {
  font-size: 3em;
  margin-top: 2em;
}

.contact label {
  display: block;
  margin-bottom: 0.6em;
  font-weight: bold;
}
  
.contact input, .contact textarea {
  width: 100%;
  padding: 0.6em;
  margin-bottom: 1.25em;
  box-sizing: border-box;
  border: 2px solid #cccccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}
  
.contact textarea {
  height: 12.5em;
  min-height: 12.5em;
  max-height: 12.5em;
  overflow-y: auto;
}
  
.contact input[type="submit"] {
  display: block;
  margin: 0 auto;
  background-color: #4caf50;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  width: 6em;
}
  
.contact input[type="submit"]:hover {
  background-color: #45a049;
}
  
/* Section Footer */

footer {
  background-color: #FFFFFF;
  width: 100%;
  height: 6em;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* Le bouton scroll to top */

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 25px;
  height: 26px;
}

#scroll { 
  border-radius: 50%;
}